<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>NodeJS in WindowsXP</title>
    </head>
    
    <body>
        <div class="content">
            
            <div class="title-bar">
                <div class="title-bar-text">VM contexts are a super safe way to run code, pinky promise</div>
                <div class="title-bar-controls">
                </div>
            </div>
            
            <form action="/" method="post">
                <table class="code_interaction">
                    <tr>
                        <td><strong>Write your code here:</strong></td>
                        <td><strong>See the result here:</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="ta_code" name="code" rows="20">#{code}</textarea>
                        </td>
                        <td>
                            <textarea readonly class="ta_result" name="result" rows="20">#{result}</textarea>
                        </td>
                    </tr>
                </table>
                <br>
                <button type="submit"><strong>Run Code!</strong></button>
            </form>
        </div>
    </body>
</html>
